<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class="intro">
        <h3 style="color: aliceblue;padding-left:15px;text-align:center;">New and recently added MOVIES⬇️</h3>
        
        <p style="color:white;padding:20px 27px 0px; font-size: large;">Choose your favorite streaming providers
            and never miss when new movies of your favorite are added. Always stay up to date with the
            Movie Website's Timeline. Use a filter for your favorite streaming provider, genre or release
            year. Our Watchlist will remember your settings.</p>
    </div>
    <br>
    
    <!--Image cards as posters-->
    <div class="container" >
        <div class="row" >
            <div class="col-sm-3" >
                <div class="card" >
                    <div class="card-img" >
                        <img src="../../assets/Brahmastra.jpg" alt="Brahmastra" width="100%">
                        <div class="card-body bg-primary text-center">
                            <div class="card-title bg-warning text-center">Brahmastra</div>
                            <button class="btn btn-danger"><a href="/">Click Here</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" >
                <div class="card">
                    <div class="card-img">
                        <img src="../../assets/thor.jpg" alt="thor:love-and-thunder" width="100%">
                        <div class="card-body bg-primary text-center">
                            <div class="card-title bg-warning text-center">thor</div>
                            <button class="btn btn-danger"><a href="/">Click Here</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <div class="card-img">
                        <img src="../../assets/Jind.jpg" alt="Jind-Mahi" width="100%">
                        <div class="card-body bg-primary text-center">
                            <div class="card-title bg-warning text-center">Jind-Mahi</div>
                            <button class="btn btn-danger"><a href="/">Click Here</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <div class="card-img">
                        <img src="../../assets/Top.jpg" alt="Top Gun" width="100%">
                        <div class="card-body bg-primary text-center">
                            <div class="card-title bg-warning text-center">Top Gun</div>
                            <button class="btn btn-danger"><a href="/">Click Here</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" >
                <div class="card" >
                    <div class="card-img" >
                        <img src="../../assets/Bat.jpg" alt="Batman" width="100%">
                        <div class="card-body bg-primary text-center">
                            <div class="card-title bg-warning text-center">Batman</div>
                            <button class="btn btn-danger"><a href="/">Click Here</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3" >
                <div class="card">
                    <div class="card-img">
                        <img src="../../assets/Doc.jpg" alt="Doctor Strange" width="100%">
                        <div class="card-body bg-primary text-center">
                            <div class="card-title bg-warning text-center">Doctor Strange</div>
                            <button class="btn btn-danger"><a href="/">Click Here</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <div class="card-img">
                        <img src="../../assets/Jurassic.jpg" alt="Jurassic" width="100%">
                        <div class="card-body bg-primary text-center">
                            <div class="card-title bg-warning text-center">Jurassic world</div>
                            <button class="btn btn-danger"><a href="/">Click Here</a></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="card">
                    <div class="card-img">
                        <img src="../../assets/RR.jpg" alt="RRR" width="100%">
                        <div class="card-body bg-primary text-center">
                            <div class="card-title bg-warning text-center">RRR</div>
                            <button class="btn btn-danger"><a href="/">Click Here</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>